# Supabase connection
VITE_SUPABASE_URL=https://tcsibwgfrkitgwztaiiq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjc2lid2dmcmtpdGd3enRhaWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzNTY0ODUsImV4cCI6MjA4NjkzMjQ4NX0.s_yMyQzqumHUZtOfF2XBTRx4ObryXBVg0tDUQ0WIsBE
