# Elige un puerto para tu servidor Express (por defecto 3000)
PORT=3000

# Ruta absoluta hacia tu clave privada SSH para el túnel a la Base de Datos Oracle
# Cambia esta ruta por la ruta donde guardaste la llave en TU ordenador.
SSH_PRIVATE_KEY_PATH=C:\Rutas\Hacia\Tu\Llave.key

# Claves VAPID para las notificaciones Push (si las usas)
# VAPID_PUBLIC_KEY="tu_publicKey"
# VAPID_PRIVATE_KEY="tu_privateKey"
